<!DOCTYPE html>

<html>
<body>
<h2>Please note below points:</h2>
<h3>1. If you are uploading excel file, then each row should contain 4 columns: name, address, company, contact.</h3>
<h3>2. If you are uploading Text file then it should contain below 4 fields in each line.</h3>
<h3>        name:15-length, address:20-length, company:10-length, contact number:10-length</h3>
<h3>        If length is smaller than given length, then give empty space to match the required length.</h3>

<form method="POST" action="demo/uploadFile" enctype="multipart/form-data">
    <input type="file" name="file"/><br/><br/>
    <input type="submit" value="Submit">
</form>
</body>
</html>